<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnrxKqIMuh1TqQ9V-pcgN-_rtzdrbKZfA</string>
	<key>GCM_SENDER_ID</key>
	<string>579661229223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPaymentApp</string>
	<key>PROJECT_ID</key>
	<string>spmbill</string>
	<key>STORAGE_BUCKET</key>
	<string>spmbill.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579661229223:ios:65978375e4361a5593bf82</string>
</dict>
</plist>